<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MovieMerageAddEffect.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B47DE1751D212A4400B0D431</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B47DE18E1D212A4400B0D431</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B47DE1991D212A4400B0D431</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
